# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/

# Database
prisma/*.db

# Uploads
src/uploads/documents/*
src/uploads/images/*
src/uploads/reports/*
!src/uploads/**/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test
coverage/


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
